<%- include('header'); -%>

<h1> Home </h1>
<p><%= homeStartingContent %></p>

<% console.log(blogPostArr);%>

<% if (blogPostArr.length === 0) { %>
 <p>This this empty - Delete this later</p>
<% } else { %>
<%  blogPostArr.forEach(function(blogPost){ %>
    <h1><%= blogPost.title %></h1>
    <p><%= blogPost.content %></p>
  <%});%>
<%}%>
<%- include('footer'); -%>
